body {
    font-family: Arial, sans-serif;
    padding: 0;
    margin: 0;
    background-color: #f4f4db;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
#quiz-container {
    max-width: 600px;
    margin: 50px auto;
    background-color: #f4f4db;
    padding: 20px;
    border-radius: 10px;
    box-shadow: #7d7d7c;
}
h1{
    color: black;
    position: relative;
}
p{
    color: black;
    position: relative;
    margin-top: 0;
}
#question-container {
    background-color: #f4f4db;
    padding: 15px;
    border: #fff;
}
#question {
    font-size: 18px;
    color: green;
    text-align: center;
    left: 5px;
    border-radius: 10px;
    box-shadow: 2px 2px #888888;
}
#answer {
    width: 100%;
    padding: 5px;
    margin-top: 10px;
    border-radius: 10px;
    color: green;
    position: relative;
    text-align: center;
    left: 0px;
    box-shadow: 2px 2px #888888;
}
input {
    background-color: #f4f4db;
    padding: 20px;
    border: #fff;
    border-radius: 10px;
    position: relative;
    left: 160px;
}
button {
    background-color: #f4f4db;
    position: relative;
    border: none;
    left: 250px;
}
.fa-microphone {
    font-size: 25px;
    color: black;
    cursor: pointer;
    position: relative;
    left: 0;
}
.btn-container {
    text-align: center;
}
#check-btn {
    padding: 10px ;
    margin: 10px;
    font-size: 15px;
    cursor: pointer;
    background-color: #fff;
    color: black;
    border-radius: 15px;
    width: 500px;
    position: relative;
    left: 1px;
}
.explanation {
    border-radius: 15px;
}
#next-btn {
    align-items: center;
    padding: 10px ;
    margin: 10px;
    font-size: 15px;
    cursor: pointer;
    background-color: #fff;
    color: black;
    border-radius: 15px;
    position: relative;
    left: 1px;
    width: 500px;
}
#check-btn:hover {
    background-color: rgb(196, 193, 193);
}
#next-btn:hover {
    background-color: rgb(196, 193, 193);
}
.hidden {
    display: none;
}
